/* Coolors Exported Palette - coolors.co/485273-3a425c-ea0b47-15192b-eeeff2 */

/* HSL */

$color1: hsla(226%, 23%, 37%, 1);
$color2: hsla(226%, 23%, 29%, 1);
$color3: hsla(344%, 91%, 48%, 1);
$color4: hsla(229%, 34%, 13%, 1);
$color5: hsla(225%, 13%, 94%, 1);


/* RGB */
$color1: rgba(72, 82, 115, 1);
$color2: rgba(58, 66, 92, 1);
$color3: rgba(234, 11, 71, 1);
$color4: rgba(21, 25, 43, 1);
$color5: rgba(238, 239, 242, 1);