@use "sass:color";

svg {
    path {
        fill: transparent;
        /*stroke: #363636;*/
        stroke: $primary;
        stroke-width: 4;
    }
}

.navbar.is-sticky {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}

.hero {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.is-dark {
    background-color: $dark;
    color: $white;

    .title,
    .subtitle,
    .strong, strong,
    b {
        color: $white;
    }

    hr {
        background-color: rgba($white, .2);
    }
}

body::-webkit-scrollbar {
    width: 1em;
    background-color: $dark;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(
        lighten($primary, 10),
        $primary
    );

    border-radius: 0.5em;
}
